*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}

html,body
{
   height: 100%;
   width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr;
    grid-template-areas: "header header header"
                        "content content content"
                        "div1 div2 div3";
    grid-gap: 10px;
    padding: 20px;
}

header{
    grid-area: header;
    background-color: crimson;
}

section{
    grid-area: content;
    background-color: lightseagreen;
}

div{
    grid-area: div1;
    background-color: darkmagenta;
}

.div2{
    grid-area: div2;
    background-color: darkcyan;
}

.div3{
    grid-area: div3;
    background-color: darkgoldenrod;
}