*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}

html,body
{
   height: 100%;
   width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-top top-center top-right"
                         "left-top centre bottom-right"
                         "left-bottom left-bottom bottom-right"
    ;
    padding: 10px;
    gap: 10px;

}

.left-top{
    grid-area: left-top;
    background-color: antiquewhite;
}

.top-center{
    grid-area: top-center;
    background-color: aqua;
}

.top-right{
    grid-area: top-right;
    background-color: burlywood;
}

.centre{
    grid-area: centre;
    background-color: blueviolet;
}

.left-bottom{
    grid-area: left-bottom;
    background-color: chartreuse;
}

.bottom-right{
    grid-area: bottom-right;
    background-color: aquamarine;
}