*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}

html,body
{
   height: 100%;
   width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 1/2fr 1/2fr;
    grid-template-areas: "header header header"
                        "content content content"
                        "div-left bottom-up div-right"
                        "div-left bottom-down div-right"
                        ;
    grid-gap: 10px;
    padding: 20px;
}

header{
    grid-area: header;
    background-color: crimson;
}


section{
    grid-area: content;
    background-color: lightseagreen;
}

.div-left{
    grid-area: div-left;
    background-color: burlywood;
}

.div-right{
    grid-area: div-right;
    background-color: burlywood;
}

.bottom-up{
    grid-area: bottom-up;
    background-color: burlywood;
}

.bottom-down{
    grid-area: bottom-down;
    background-color: burlywood;
}