/* task link  */
/* https://dribbble.com/shots/21661002-AI-Project-Showcase-Landing-Page */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}


body{
    background-color: #ffffff;
}

main{
    height: 100vh;
    border-radius: 10px;
    padding: 5px;
}

nav{
    /* background-color: #f2f2f2; */
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
    height: 10%;
}

.mid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.mid a{
    text-decoration: none;
    color: black;
}

.author{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.author a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.author .talk{
    padding: 10px 25px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px
}

.main-section{
    height: 85vh;
    display: grid;
    grid-template-columns: 48% 50%;
    gap: 10px;
}

section .left{
    /* grid-area: left; */
    background-color: #fff;
    padding: 15px;
    position: relative;
}

.left img{
    height: 55px;
    width: 152px;
    object-fit: cover;
    background-color: red;
    border-radius: 40px;
}

h1{
    font-size: 72px;
    font-weight: 400;
}

.how{
    border: 1px solid black;
    border-radius: 28px;
    background-color: transparent;
    font-size: 40px;
    padding: 5px 15px;
    font-weight: 300;
}

.left-footer{
    position: absolute;
    bottom: 10px;
    width: 70%;
    font-size: 14px;
}
section .right{
    display: grid;
    grid-template-rows: 59% 40%;
    gap: 10px;
}

section .top{
    background-image: url(https://images.unsplash.com/photo-1618172193763-c511deb635ca?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fGFic3RyYWN0fGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

section .bottom{
    /* background-color: mediumseagreen; */
    
    border-radius: 10px;
    display: grid;
    grid-template-columns: 49% 50%;
    gap: 15px;
}

.bottom-left{
    background-image: url(https://images.unsplash.com/photo-1604871000636-074fa5117945?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fGFic3RyYWN0fGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-color: white;
    width: 99%;
}

.bottom-right{
    background-image: url(https://images.unsplash.com/photo-1518640467707-6811f4a6ab73?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzJ8fGFic3RyYWN0fGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-color: cornflowerblue;
    width: 98%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 22px 10px;
    /* background-color: aqua; */
    gap: 15px;
}

.contact a{
    text-decoration: none;
    color: black;
    padding: 8px;
}

.us{
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    color: white !important;
}