*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html, body {
  height : 100%;
  width : 100%;
}

body {
  background-color : black;
  color: white;
}

.nav{
  height: 60px;
  width: 100%;
  background-color: lightseagreen;
}

.section{
  height: 85vh;
  width: 100%;
  background-color: lightblue;
  padding: 60px;
}

.ce{
  width: 50%;
  height: 70%;
  text-align: center;
  margin: 0 auto;
  background-color: pink;
}