*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html, body {
  height : 100%;
  width : 100%;
}

body {
  background-color : black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
  height: 60px;
  width: 100%;
  padding: 35px;
  padding-inline: 30px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}

.middle a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.about{
  background-color: white;
  color: black !important;
  padding: 5px 10px;
  border: 1px solid gainsboro;
  border-radius: 30px;
}

.right button{
  padding: 8px 18px;
  background-color: black;
  color: wheat;
  border: none;
  border-radius: 50px;
  font-size: 1rem;

}

.section{
  height: 88vh;
  width: 100%;
  /* background-color: lightblue; */
  background-color: white;
  padding: 30px 20px;
}

.ce{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background-image: url(./assets/land.avif) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding-block: 5rem;
  position: relative;
}

.ce h3{
  text-transform: capitalize;
  font-weight: 300;
  font-size: 3rem;
}

.ce p{
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.2rem;
}

.ce .foot{
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 1.8rem 2.5rem;
  justify-content: space-between;
  width: 100%;
}

.left p{
  text-align: left;
}

.left{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.foot .left .images{
  display: flex;
  background-color: rgba(255, 251, 251, 0.299);
  padding: .5rem .8rem;
  align-items: center;
  border-radius: 40px;

}

.foot .left .images .img-div{
  border-radius: 50px;
  background-color: whitesmoke;
  height: 35px;
  width: 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot .left .images .img-div img{
  height: 100%;
  width: 100%;
  /* border-radius: 50px; */
  text-align: center;
  object-fit: contain;

}

.right{
  display: flex;
  gap: 1rem;
  padding: .5rem;
}

.right a{
  color: rgba(255, 255, 255, 0.724);
}