*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
    --red: red;
    --x: 200px;
    --y: 200px
}

html,body
{
   height: 100%;
   width: 100%;
}

body{
    background-color: black;
    /* padding: 1rem; */
    background-image: url(https://images.unsplash.com/photo-1761839258045-6ef373ab82a7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4fHx8ZW58MHx8fHx8);
    background-size: cover;
    /* cursor: none; */
}
/* 
linear gradient
radial gradient 
*/

.box{
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    border: 1px solid white;
    /* background: linear-gradient(in oklab to right,  white, red, purple); */
    /* background: linear-gradient(in hsl to right,  white, red, purple); */
    /* background: radial-gradient(300px at 150px 150px, red, blue); */
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.959))
}