*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 200px;
    width: 200px;
}

.box:hover{
    anchor-name: --some-anchor;
}

.red{
    background-color: rgb(121, 45, 45);
}

.blue{
    background-color: rgb(29, 29, 121);
}

.green{
    background-color: rgb(27, 90, 27);
}

.anchor{
    background-color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    height: 50px;
    width: 60px;
    position-anchor: --some-anchor;
    transition: all .3s linear;

    /* current background have the opposite color of its parent background */
    mix-blend-mode: difference;
}