*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box{
    height: 200px;
    width: 200px;
    transition: all .3s linear;
}

.red{
    background-color: rgb(142, 16, 16);
}

.blue{
    background-color: rgb(17, 17, 97);
}

.green{
    background-color: rgb(13, 80, 13);
}


/* if body has an element class box with 
box hover, make all the boxes scale to .8  */

body:has(.box:hover) .box{
    transform: scale(.8);
}

.box:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
}