
:root{
    --pri:#f8f4e1;
    --sec:#381c0a;
    --tri1:#feba17;
    --tri2:#74512d;
}

@font-face{
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: aeonik;
    color: var(--pri);
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : var(--sec);
}

main{
    height: 100%;
    width: 100%;
    color: white;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem{
    background-color: #feba17;
    border-radius: 10px;
    font-size: 20px;
    height: 400px;
    width: 220px;
    overflow: hidden;
    position: relative;
    transition: all ease .5s;
}

.elem img{
    height: 100%;
    width: 100%;
}


.elem h4{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 200;
    font-size: 25px;
}

.elem:active{
    scale: .97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 20px;
    font-size: 50px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: #381c0a;
    border-radius: 12px;
    border: none;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
}