
:root{
    --pri:#f8f4e1;
    --sec:#381c0a;
    --tri1:#feba17;
    --tri2:#74512d;
    --red: red;
}

@font-face{
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: aeonik;
    color: var(--pri);
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : var(--sec);
}

main{
    height: 100%;
    width: 100%;
    color: white;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem{
    background-color: #feba17;
    border-radius: 10px;
    font-size: 20px;
    height: 400px;
    width: 220px;
    overflow: hidden;
    position: relative;
    transition: all ease .5s;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.elem img{
    height: 100%;
    width: 100%;
}


.elem h4{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 200;
    font-size: 25px;
}

.elem:active{
    scale: .97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform .5s ease, opacity .5s ease;
}

.fullElem.active{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 12px;
    border: none;
    padding: 10px 12px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    scale: .97;
}

.todo-fullpage{
    display: block;
}

.todo-fullpage h2{
    font-size: 3rem;
}
.todo-fullpage .todo-container{
    height: 85%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}


.todo-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form input#task{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
}

.todo-container .addTask form textarea{
    padding: 12px 20px;
    background-color: var(--pri);
    color: var(--sec);
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    resize: none;
}

.todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 700;
    transition: all ease .3s;
}

.todo-container .addTask form button:active{
    scale: .96;
}

.todo-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.task h5{
    color: var(--sec);
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.task h5 span{
    background: var(--red);
    color: var(--pri);
    padding: 2px 5px;
    border-radius: 50px;
    font-size:.4rem;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 8px 10px;
    color: var(--pri);
    background-color: green;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.mark{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 5px;
    gap: 20px;
}

.mark input{
    font-size: 1rem;
    scale: 1.7;
}

.mark label{
    font-size: 1.2rem;
}

.nodata{
    padding: 10px 15px;
    background: var(--pri);
    font-size: 2rem;
    text-transform: capitalize;
    opacity: .5;
    width: 100%;
    color: var(--sec);
    text-align: center;
}