@font-face {
    font-family: Helvetica;
    src: url(HelveticaNowDisplay-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    /* color: white; */
    background-color: white;
}

#nav{
    padding: 30px 70px;
}

#nav a{
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

#main>h1{
    font-size: 250px;
    font-weight: 400;
    padding-left: 60px;
}

#btmleft{
    position: absolute;
    bottom: 20%;
    left: 3%;
    /* background-color: red; */
    width: 300px;
}

#btmleft h3{
    font-size: 28px;
}

#btmleft p{
    font-size: 18px;
    margin-top: 5px;
}
#btmleft h4{
    margin-top: 30px;
}

.btmbar{
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.btmbar a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;

}

#main>img{
    height: 300px;
    position: absolute;
}

#main .first{
    height: 400px;
    top: 35%;
    right: 15%;
    z-index: 2;
}

#main .second{
    height: 350px;
    top: 50%;
    left: 55%;
    z-index: 1;

}

#main .third{
    height: 400px;
    top: 40%;
    left: 40%;
}
