*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body
{
   height: 100%;
   width: 100%;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   perspective: 1000px;
}

.box{
   height: 500px;
   width: 500px;
   /* background-color: crimson; */

   /* transform: translate(-50%); */
   background-image: url(https://images.unsplash.com/photo-1770297345789-d72e0ac1d366?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-position: center;
   background-size: cover;
   /* transform: rotateY(50deg); */
   transform: rotateX(30deg);

}