*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body
{
   height: 100%;
   width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.nav{
    height: 60px;
    width: 100%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h4{
    color: white;
    font-weight: 400;
    font-size: 18px;
}

#center{
    height: 75%;
    width: 100%;
    background-color: black;
    text-align: center;
}

#center h1{
    color: white;
}

#center h5{
    color: white;
}