*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body
{
   height: 100%;
   width: 100%;
}

.parent{
   height: 100%;
   width: 100%;
   background-color: black;
}

.box{
   height: 200px;
   width: 200px;
   background-color: crimson;
}

/* :nth-child means appearance of that element  */

/* :nth-last-child means first element from the last  */

/* :nth-child(2n) means every eventh element  */
/* :nth-child(2n-1) means every odd place element  */

.box:nth-child(1){
   background-color: seagreen;
}