*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body
{
   height: 100%;
   width: 100%;
}

.main{
   height: 100%;
   width: 100%;
   background-color: lightseagreen;
   padding: 10px;
}

.card{
   height: 300px;
   width: 350px;
   background-color: crimson;
   position: relative;
}

.card img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.bottom{
   height: 40%;
   width: 100%;
   background-color: aqua;
   position: absolute;
   bottom: -40%;
   transition: all ease 0.7s;
}

.bottom:hover{
   background-color: azure;
}