*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body
{
   height: 100%;
   width: 100%;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
}

.box{
   height: 200px;
   width: 200px;
   background-color: crimson;

   transform: translate(-50%);
}