*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: black;
}

.outer{
    width: 400px;
    height: 200px;
    background-color: rebeccapurple;
}

.inner{
    /* % is used for measuring with respect to parent width and height  */
    width: 20%;
    height: 20%;
    background-color: aquamarine;
}
