*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: black;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/28560639/pexels-photo-28560639.jpeg');
    background-size: cover; /* It will cover the image width wise to the container */
    background-position: center;
    /* center: It will make the image to come to center of the page */
    /* bottom: It will make the image to come to bottom of the page */
    /* contain: It will make the image to cover height wise not the width wise  */
    background-repeat: no-repeat;
    /* no repeat: this will avoid image repeatition  */
}