*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    /* position: relative; */
}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: coral;
}

.small{
    position: absolute;
    left: 50%;
    height: 40px;
    width: 40px;
    background-color: yellow;
}