*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    /* position: relative; */
}

.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.box2{
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: blueviolet;
}


.box3{
    width: 400px;
    height: 300px;
    background-color: brown;
}