*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : black;
    color: wheat;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 20px;
    font-weight: 400;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    z-index: 5;
}

button:active{
    scale: .9;
}