*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : black;
    color: white;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(26, 26, 26),rgb(30, 30, 30), black);
    padding: 20px;
    /* overflow: auto; */
}

section{
    height: 100%;
    width: 350px;
    background: black;
    border-radius: 10px;
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightblue;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.836));
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.bottom .user img{
    height: 45px;
    width: 45px;
    object-fit: contain;
    border-radius: 50%;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
}

.bottom>h3{
    font-weight: 500;
    font-size: 30px;
}

.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 40px;
    position: absolute;
    /* height: 100%; */
    right: 0;
    /* transform: translate(100%); */
    bottom: 12px;
    /* background: linear-gradient(to right, transparent, black); */
}

.right h4{
    cursor: pointer;
}

.right i{
    font-size: 20px;
    font-weight: 500;
}

.right h6{
    font-size: 18px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}