*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body {
    height : 100%;
    width : 100%;
}

body {
    background-color : black;
    color: white;
    padding: 20px;
}

.elem{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
}

button{
    background-color: royalblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
