*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body {
    height : 100%;
    width : 100%;
}

:root{
    /* Background Colors  */
    --bg-primary-color : #0c0c0c;
    --bg-fill-color : bisque;
    --bg-food-color : rgb(162, 5, 5);

    /* Text Colors  */
    --text-primary-color : #f0f0f0;

    /* Spacing variables  */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border variables */
    --border-primary-color : #333333;

    /* Border Radius */
    --bordre-radius-xs: 4px;
    --bordre-radius-sm: 8px;
    --bordre-radius-md: 12px;
    --bordre-radius-lg: 16px;
    --bordre-radius-xl: 20px;
    --bordre-radius-2xl: 24px;

}

body {
    background-color : var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--bordre-radius-sm);
}

.board{
    border:  1px solid var(--border-primary-color);
    flex-grow: 1;
    /* background-color: bisque; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));

}

.head{
    background-color: #ffd166;
    border-radius: 50%;
}

.block{
    /* width: 30px;
    height: 30px; */
    border:  1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
    border-radius: 50%;
}

.food{
    background: var(--bg-food-color);
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from{
        transform: scale(.6);
    }
    to{
        transform: scale(1);
    }
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(3, 20, 46, 0.804);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.modal .game-over{
    display: none;
}

button{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--bordre-radius-sm);
    transition: all.3s ease;
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
}